<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<connectionString>
		<add name="CNNSTR" connectionString="Server=.;Database=P5_2023_1; INTEGRATED SECURITY=TRUE;User Id =;Password=" />
	</connectionString>	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>