<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<ConnectionString>
		<add name="CNNSTR" connectionString="Server=JUAN_JOS3;Database=P5_2023_1; INTEGRATED SECURITY=FALSE;User Id =progra5;Password=1234"/>
	</ConnectionString>	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>